@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: rgba(20, 18, 19, 1);
  --foundation-bluedark: rgba(0, 73, 179, 1);
  --foundation-bluedark-active: rgba(0, 44, 108, 1);
  --foundation-bluedark-hover: rgba(0, 58, 143, 1);
  --foundation-bluelight-active: rgba(176, 206, 250, 1);
  --foundation-bluelight-hover: rgba(217, 231, 253, 1);
  --foundation-bluenormal-active: rgba(0, 78, 191, 1);
  --foundation-bluenormal-hover: rgba(0, 87, 215, 1);
  --foundation-yellowdark: rgba(191, 149, 52, 1);
  --foundation-yellowdark-active: rgba(115, 90, 31, 1);
  --foundation-yellowdark-hover: rgba(153, 119, 41, 1);
  --foundation-yellowdarker: rgba(89, 70, 24, 1);
  --foundation-yellowlight: rgba(255, 249, 236, 1);
  --foundation-yellowlight-active: rgba(255, 238, 197, 1);
  --foundation-yellowlight-hover: rgba(255, 247, 227, 1);
  --foundation-yellownormal: rgba(255, 199, 69, 1);
  --foundation-yellownormal-active: rgba(204, 159, 55, 1);
  --foundation-yellownormal-hover: rgba(230, 179, 62, 1);
  --foundationbluedarker: rgba(0, 34, 84, 1);
  --foundationbluelight: rgba(255, 255, 255, 1);
  --foundationbluenormal: rgba(0, 97, 239, 1);
}